extends layout

block content
  p= title
    a(href=tweeturl, target='_blank') 結果をTwitterでつぶやく
  p
    a.twitter-share-button(href="https://twitter.com/share",data-lang="ja",data-hashtags="wikipetan") ツイート
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  table.table.table-striped
    for str, index in res
      tr
        td(style="width:40px")= (index+1)
        td
          a(href='http://ja.wikipedia.org/wiki/' + str)= str
  a(href='/') トップページに戻る
